/************************************************************
Styles for MindaMyers.com.
Created on June 17, 2014 by Minda Myers
*************************************************************/

h3 {
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 400%;
    font-family: 'Dawning of a New Day', cursive;
    text-align: center;
    -webkit-text-stroke: 1.3px black;
    text-shadow: 1px 1px 0 #fef6e9,-1px -1px 0 #fef6e9, 4px 4px 0 rgba(52,54,56,.2);
}

/* Main Sections */
.website-section {
    height: 90vh;
}

#intro {
    background-color: #CCBFFA;
    margin-top: 70px;
    padding-top: 25px;
    display: flex;
}

#featured-work {
    background-color: #BDEDFA;
}

#about {
    background-color: #E9BDFA;
}

#contact {
    background-color: #CCBFFA;
}

#blog {
    background-color: #CCBFFA;
}



#footer {
    text-align: center;
    background-color: #383737;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 120%;
}

/* Main Menu Styles */
#initials {
    font-family: 'Rammetto One', cursive;
    color: #F4D276;
    font-size: 450%;
    bottom: -9px;
    display: inline-block;
    position: relative;
    padding: 0px 15px;
}

#main-menu {
    background-color: #383737;
    display: flex;
    position:fixed;
    width: 100vw;
    top: -20px;
}

#main-menu a{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    padding: 0px 7px;
    font-weight: 300;
}

#menu-items {
    width: 98%;
    height: auto;
    margin: 0px auto;
    position: relative;
    bottom: -7px;
    text-align: center;
}

/* Different screen widths */
@media all and (max-width: 699px) {
  #main-menu {
    flex-direction: column;
  }
  #initials {
    padding: 0px;
  }
  .before-initial {
    top: 20px;
    position: relative;
  }
  .after-initial {
    top: -10px;
    position: relative;
  }
  #intro {
    margin-top: 100px;
  }
  #menu-items {
    width: 50%;
    }
    h3 {
        font-size: 200%;
    }
}

/* Customizations for Sections */
@media all and (min-height: 670px) {
    .website-section {
        height: auto;
        min-height: 200px;
        padding-bottom: 45px;
    }
    h3 {
        margin-top: -10px;
    }
}
