/************************************************************
Styles for MindaMyers.com.
Created on June 17, 2014 by Minda Myers
*************************************************************/

h3 {
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 400%;
    font-family: 'Dawning of a New Day', cursive;
    text-align: center;
    -webkit-text-stroke: 1.3px black;
    text-shadow: 1px 1px 0 #fef6e9,-1px -1px 0 #fef6e9, 4px 4px 0 rgba(52,54,56,.2);
}

/* Main Sections */
.website-section {
    height: 90vh;
}

#intro {
    background-color: #CCBFFA;
    margin-top: 70px;
    padding-top: 25px;
}

#featured-work {
    background-color: #BDEDFA;
}

#about {
    background-color: #E9BDFA;
}

#contact {
    background-color: #CCBFFA;
}

#footer {
    text-align: center;
    background-color: #383737;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 120%;
}

/* Main Menu Styles */
#initials {
    font-family: 'Rammetto One', cursive;
    color: #F4D276;
    font-size: 450%;
    bottom: -9px;
    display: inline-block;
    position: relative;
    padding: 0px 15px;
}

#main-menu {
    background-color: #383737;
    display: flex;
    position:fixed;
    width: 100vw;
    top: -20px;
}

#main-menu a{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    padding: 0px 7px;
}

#menu-items {
    width: 98%;
    height: auto;
    margin: 0px auto;
    position: relative;
    bottom: -7px;
    text-align: center;
}

/* Intro Styles */
#mission-statement {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

.title-text {
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 350%;
    font-family: 'Rouge Script', cursive;
    text-align: center;
    -webkit-text-stroke: .8px black;
    text-shadow: 1px 1px 0 #fef6e9,-1px -1px 0 #fef6e9, 4px 4px 0 rgba(52,54,56,.2);
    line-height: 1;
}

#hello, #line3, #line4, #line6 {
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 400;
    -webkit-text-stroke: 2px black;
}

#hello, #line3, #line4  {
    font-family: 'Shadows Into Light', cursive;
}

#name, #line5 {
    font-family: 'Dawning of a New Day', cursive;
}

#name {
    font-size: 770%;
    font-weight: 900;
    line-height: .8;
    -webkit-text-stroke: 2.5px #1795B6;
    color: #1795B6;
    text-shadow: 6px 4px 3px rgba(192, 152, 43, 2);
}

#hello {
    font-size: 350%;
}

#line3 {
    font-size: 300%;
}

#line4 {
    font-size: 475%;
    text-shadow: 3px 3px 3px rgba(23, 149, 182, 1);
}

#line4 .inverse-color {
    color: #C0982B;
    -webkit-text-stroke: 2px #C0982B
}

#line5 {
    font-size: 470%;
    line-height: .6;
    text-shadow: 1px 2px 6px rgba(248, 226, 113, 1)
}

#line6 {
    font-size: 730%;
    font-weight: 700;
    font-family: 'VT323', cursive;
    color: white;
    -webkit-text-stroke: 0px;
}


/* Different screen widths */
@media all and (max-width: 699px) {
  #main-menu {
    flex-direction: column;
  }
  #initials {
    padding: 0px;
  }
  .before-initial {
    top: 20px;
    position: relative;
  }
  .after-initial {
    top: -10px;
    position: relative;
  }
  #intro {
    margin-top: 100px;
  }
  #menu-items {
    width: 50%;
    }
    h3 {
        font-size: 200%;
    }
}

@media all and (max-height: 600px) {
    #mission-statement {
        display: flex;
    }
}
