#feature-boxes {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3% 12%;

}
.feature-box {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    display: inline-block;

    width: 23vw;
    border: 1px solid #C3B4A0;
    min-width: 300px;
    background-color: #37A1D2;
}
.feature-box-border {
    border: 7px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    height: 200px;
}
.feature-box .feature-box-content {
    height: 140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}
.feature-box-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 200%;
    font-weight: 300;
}

.feature-box-tags {

}

#feature-boxes .glyphicon {
    font-size: 135%;
    background-color: #D2B537;
    width: 36px;
    height: 33px;
    padding-top: 5px;
    padding-right: 2px;
    border-radius: 15px;
    border: 1px solid black;
}

.feature-box-links {

}
