/************************************************************
Styles for Mission Statement Font Art on MindaMyers.com
Created on June 18, 2014 by Minda Myers
*************************************************************/


/* Styles for main elements*/
#mission-statement {
    display: flex;
    width: auto;
    margin: auto;
    flex-direction: column;
    max-height: 90vh;
}

#mission-statement .glyphicon {
    font-size: 40%;
    position: relative;
    top: -7px;
    width: 1%;
}

.title-text {
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 350%;
    font-family: 'Rouge Script', cursive;
    text-align: center;
    -webkit-text-stroke: .8px black;
    text-shadow: 1px 1px 0 #fef6e9,-1px -1px 0 #fef6e9, 4px 4px 0 rgba(52,54,56,.2);
    line-height: 1;
}

/* Styles shared across multiple lines */
#hello, #line3, #line4, #line6 {
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 400;
    -webkit-text-stroke: 3px black;
}

#hello, #line3, #line4  {
    font-family: 'Shadows Into Light', cursive;
    color: black;
}

#name, #line5 {
    font-family: 'Dawning of a New Day', cursive;
}

/* Line Specific Styles */
#name {
    font-size: 770%;
    font-weight: 900;
    line-height: .8;
    -webkit-text-stroke: 2.5px #267EA6;
    color: #37A1D2;
    text-shadow: 6px 4px 3px rgba(192, 152, 43, 2);
}

#hello {
    font-size: 350%;
    padding-top: 70px;
}

#line3 {
    font-size: 300%;
}

#line4 {
    font-size: 400%;
    text-shadow: 3px 3px 3px rgba(23, 149, 182, 1);
}

#line4 .inverse-color {
    font-size: 124%;
    color: #C0982B;
    -webkit-text-stroke: 2px #C0982B
}

#line5 {
    font-size: 470%;
    line-height: .6;
    text-shadow: 1px 2px 6px rgba(248, 226, 113, 1);
    color: black;
}

#line6 {
    font-size: 770%;
    font-weight: 400;
    font-family: 'VT323', cursive;
    color: white;
    -webkit-text-stroke: .4px white;
    border-bottom: 1px dotted #757373;
    margin-bottom: 3%;
    margin-top: 3%;
}

#mission-statement span.title-text {
    display: block
}


@media all and (max-height: 600px) {
    #mission-statement {
        display: flex;
    }
}

@media all and (min-width: 600px) and (max-width: 750px) {
    #mission-statement {
        font-size: 75%;
    }
}

@media all and (max-width: 600px) {
    #mission-statement {
        font-size: 50%;
    }
}
