/* Different screen widths */

@media all and (min-height: 900px) {
    #mission-statement {
        max-height: none;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .website-section {
        min-height: 10vh;
    }
}


@media all and (max-width: 400px) {
    .website-section {
        padding-top: 15px;
        height: auto;
    }
    #main-menu {
        height: auto;
    }
    #main-menu a{
        padding: 25px 25px;
    }
    #initials {
        visibility:hidden;
    }
    #menu-items {
        display: flex;
        //flex-direction: column;
        //justify-content: space-around;
        //flex-wrap: wrap;
    }
    #intro {
        padding-top: 60px;
    }
    #main-body {
        overflow-x: hidden;
    }
    #feature-boxes {
        padding: 3%;
    }
}
