<div class="feature-box-border">

        <div class="feature-box-content" style="background-image:{{featuredWork.thumbnail}}">
        <a href="#/portfolio?id={{featuredWork.id}}" class="feature-box-link">
            <div class="feature-box-title" ng-click="loadFeaturedWork(featuredWork)">
                {{featuredWork.title}}
            </div>
            <div class="feature-box-tags">
                    <span ng-repeat="tag in featuredWork.tags">{{tag}}&nbsp;&nbsp;</span>
            </div>
            <span class="glyphicon glyphicon-star-empty"></span>
            <img src="">
            </a>
        </div>

</div>
