<section id="portfolio" class="website-section">
    <div id="portfolio-summary">
        <div id="previous-item" class="nav-arrow"> <span class="glyphicon glyphicon-step-backward"></span></div>
        <div id="project-info">
            <div class="portfolio-title"> Project Name </div>
            <div id="separator"> &nbsp;</div>
            <div class="portfolio-tags"> Tags </div>
        </div>
        <div id="next-item" class="nav-arrow"> <span class="glyphicon glyphicon-step-forward"></span></div>
    </div>
    <div id="portfolio-main-content">
        <div class="portfolio-description">
            <img class="portfolio-image" src="img/castlight.jpg" />
            <p>Implemented a style guide of design suggestions by building a library of reusable compontents for Castlight's Front End. Introduced Twitter Bootstrap components, reorganized existing code, and created new components with HAML, SASS, and JavaScript.
            </p>
        </div>
    </div>
</section>

