<img id="profile-image"src="img/profile2011.jpg"  />

<p>As a talented front-end developer with over 5 years of web design experience, I'm currently searching for an opportunity to work with a dynamic team on improving the world through technology that makes human lives better - healthier, happier, more productive and generally more interesting. </p>

<p>I've had the opprtunity to work on a handful of projects making contributions to the world, including (most recently) a data sharing software for MRI research data. I've also worked at Castlight Health on a product to help consumers understand their health insurance plan and shop around for medical service prices, and I have helped numerous people from my community get their organizations, small businesses and startup ideas on the web. My most current near and dear project has been working on building a community of support and practice for rationally minded folk of whom want to learn meditation. </p>

<p>With a deep understanding of interpersonal, group and non-violent communication principles, I will very often find myself in roles where I am helping team members resolve conflict, come to resolution and make group decisions. I've spent quite a bit of time and effort on learning about effective communication and take great care in my relationships and communication with others. </p>

<p>I've been so very fortunate as to have been mentored by a few of silicon valley's best entrepreneurs and have long standing friendships with Danielle Fong  (LightSail Energy, Forbes 30) and Luke Nosek  (Founders Fund & Founder, Paypal). Through these relationships, I've learned quite a lot about Silicon Valley startup culture. </p>


