<section id="intro" class="website-section">
    <div id="mission-statement">
        <span id="hello" class="title-text ">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Hello, my name is
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </span>
        <span id="name" class="title-text ">Minda Myers</span>
        <span id="line3" class="title-text ">and I</span>
        <span id="line4" class="title-text ">
            <span class="inverse-color">want</span> to <span class="inverse-color">make</span>
        </span>
        <span id="line5" class="title-text ">human lives better</span>
        <span id="line6" class="title-text ">with technology</span>
    </div>
</section>

<section id="featured-work" class="website-section">
    <h3>Featured Work</h3>
    <div id="feature-boxes">
        <feature-box class="feature-box" ng-repeat="featuredWork in featuredWorks.content" item="featuredWork"> </feature-box>
    </div>
</section>
<section id="about" class="website-section">
    <h3>About Me</h3>
    <div id="about-me" ng-include="'partials/about-me.html'"> </div>
</section>
<!--TODO: Add contact info
<section id="contact" class="website-section">
    <h3>Contact</h3>
</section>->
